.home {
  text-align: center;
  padding: 1em;

  &-choose {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 45em;

    &-btn {
      margin: 1.5em 3em;
      border-radius: 100%;
      outline: none;
      border: 2px solid $color-second;
      height: 15em;
      width: 15em;
      cursor: pointer;
      position: relative;

      img {
        width: 15em;
        height: 15em;
        z-index: 10;
        position: relative;
        transition: .25s;
      }

      span {
        z-index: 5;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 1.2em;
        color: $color-second;
      }

      &:hover {
        //box-shadow: .2em .2em 2em .75em $color-second;

        img {
          transform: translate(0, -5em);
        }
      }
    }
  }
}

@media screen and (max-width: $sm-size){
  .home {
    padding-top: 3em;

    &-choose {
      max-width: 35em;

      &-btn {
        margin: 1em 2em;
        height: 10em;
        width: 10em;

        img {
          width: 10em;
          height: 10em;
        }

        span {
          top: 60%;
          left: 50%;
          transform: translate(-50%, 0);
          font-size: .8em;
        }

        &:hover {
          img {
            transform: translate(0, -3.5em);
          }
        }
      }
    }
  }
}

@media screen and (max-width: $xs-size){
  .home {
    padding: 2em 0;

    &-choose {
      max-width: 28em;

      &-btn {
        margin: .5em 1em;
        height: 8em;
        width: 8em;

        img {
          width: 8em;
          height: 8em;
        }

        span {
          display: none;
        }

        &:hover {
          img {
            transform: translate(0, 0);
          }
        }
      }
    }
  }
}