@import './variables';
@import './header';
@import './main';
@import './footer';
@import './rules';
@import './score';
@import './home';
@import './game';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background:
    linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)),
    linear-gradient(to left, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

