.rules {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__image {
    margin: 0 auto;
    max-width: 36em;
    width: 100%;
  }

  &-hotkeys {
    position: relative;
    margin-top: 1em;

    &__title {
      color: var(--color-second);
      text-align: center;
    }

    &__description {
      margin: 1em auto;
      max-width: 14em;
      width: 100%;
      text-align: left;
      color: var(--color-main);

      &-key {
        color: var(--color-second);
        font-size: 1.5em;
        padding: .1em;
        border: 1px solid var(--color-main);
        border-radius: .25em;
        width: 2em;
        height: 2em;
        display: inline-block;
        text-align: center;
        vertical-align: center;
        padding-top: .4em;
      }
    }

    &__image {
      max-width: 40em;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: .4s;
      opacity: 0;
    }

    &:hover {
      .rules-hotkeys__image {
        opacity: 1;
      }
    }
  }
}
