.score {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 12px;

  &__img {
    height: 5em;
  }
  &__main {
    font-size: 2.4em;
    color: #fff;
    padding: .25em 1em;

    &-counter {
      font-size: 1.2em;
      color: burlywood;
    }
  }
}