.score {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 12px;

  &__img {
    height: 6em;
  }
  &__main {
    font-size: 2.4em;
    color: #fff;
    padding: 1em 2em;

    &-counter {
      color: burlywood;
    }
  }
}